.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__facebook {
  margin-right: 22px;
}

.social__twitter {
  margin-right: 17px;
}
.social__google-plus {
  margin-right: 15px;
}