.site-header {
  border-bottom: 1px solid #edeff1;
}

.site-header__contacts-container {
  border-bottom: 1px solid #edeff1;
}

.site-header__contacts {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.site-header__nav-site {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.site-header__site-logo {
  margin-right: 68px;
}

.site-header .site-header__nav-extra {
  margin-left: auto;
}