@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url('fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
  url('fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Italic';
  src: url('fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
  url('fonts/HarmoniaSansProCyr-Italic.woff') format('woff');
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Light';
  src: url('fonts/HarmoniaSansProCyr-Light.woff2') format('woff2'),
  url('fonts/HarmoniaSansProCyr-Light.woff') format('woff');
}

@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url('fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
  url('fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff');
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Bold';
  src: url('fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
  url('fonts/HarmoniaSansProCyr-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Black';
  src: url('fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
  url('fonts/HarmoniaSansProCyr-Black.woff') format('woff');
}

@font-face {
  font-family: 'TitilliumText22L-XBold';
  src: url('fonts/TitilliumText22L-XBold.woff2') format('woff2'),
  url('fonts/TitilliumText22L-XBold.woff') format('woff');
}