@import "normolize.css";
@import "fonts";
@import "components/site-header/site-header.scss";
@import "components/social/social.scss";
@import "components/site-logo/site-logo.scss";

.centerer
{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

