@import "normolize.css";
@import "fonts.scss";
@import "components/site-header/site-header.scss";
@import "components/site-header/social/social.scss";
@import "components/site-header/nav-main/nav-main.scss";
@import "components/site-header/nav-extra/nav-extra.scss";
@import "components/site-header/contacts/contacts.scss";
@import "components/site-logo/site-logo.scss";

.centerer
{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

